body {
    background-color: #f8f6f0;
}

.header{
    font-size: 20px;
}
.navbar {
    padding: 0.5% 13%;
}

.navbar-nav > .nav-item{
  padding-left:10px;
  padding-right:10px;
}

a.nav-link{
    color: black;
}

