<div class="text-center text-lg-start bg-light text-muted">
    <div class="container text-center text-md-start mt-5 border-top">
        <div class="row mt-3">
            <div class="col-5 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Thông tin</h6>
                <p><i class="fa-brands fa-github pe-2"></i> https://github.com/hoangduong0112/Bookstore_App</p>
            </div>
            <div class="col-5 mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Sinh viên</h6>
                <p>
                    <i class="fa-solid fa-circle-user pe-2"></i>
                    Hoàng Dương
                </p>
                <p>
                    <i class="fa-solid fa-circle-user pe-2"></i>
                    Hoàng Dương
                </p>
            </div>
        </div>
    </div>
</div>