{% extends 'layout/base.html' %}

{% block content %}
{% if err_msg %}
<div class="alert alert-danger">
    {{ err_msg }}
</div>
{% endif %}
<div class="row">
    <div class="col-lg-7 col-xl-6 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left d-none d-md-flex">
            </div>
            <div class="card-body p-4 p-sm-5">
                <h2 class="card-title text-center mb-5 fw-light fs-5">ĐĂNG KÝ NGƯỜI DÙNG</h2>
                <form method="post" enctype="multipart/form-data" action="/register">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required autofocus id="username" placeholder="Tên đăng nhập" name="username">
                        <label for="username">Username</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required id="name" placeholder="Nhập họ tên" name="name">
                        <label for="name">Họ tên</label>
                    </div>

                    <hr>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" required id="password" placeholder="Nhập mật khẩu" name="password">
                        <label for="password">Mật khẩu</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" required id="confirm" placeholder="Nhập xác nhận mật khẩu" name="confirm">
                        <label for="confirm">Xác nhận mật khẩu</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="file" class="form-control" id="avatar" name="avatar">
                        <label for="avatar">Ảnh đại diện</label>
                    </div>

                    <div class="d-grid mb-2">
                        <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Đăng ký</button>
                    </div>

                    <div class="form-floating mb-3">Bạn đã có tài khoản? <a class="d-block text-center mt-2 small" href="/login">Đăng nhập ngay</a></div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}